﻿@using MVC.Service
@model TodoItem

@{
    ViewBag.Title = "Edit Todo";
}

<h2>Edit Todo</h2>

@using (Html.BeginForm("Edit", "Home"))
{
    <table>
        <tr>
            <td>Id</td>
            <td>@Html.DisplayFor(m => m.Id)</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>@Html.EditorFor(m => m.Title)</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@Html.EditorFor(m => m.Description)</td>
        </tr>
        <tr>
            <td>Due Date</td>
            <td>@Html.EditorFor(m => m.DueDate)</td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>@Html.EditorFor(m => m.Priority)</td>
        </tr>
        <tr>
            <td>Done</td>
            <td>@Html.EditorFor(m => m.Done)</td>
        </tr>
    </table>
    <input type="submit" value="Save" />
}