﻿@model IEnumerable<MVC.Service.TodoItem>

@{
    ViewBag.Title = "Todo List";
}

<h2>Todo List</h2>

<p>@Html.ActionLink("New", "New")</p>

<table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Done</th>
            <th>Actions</th>
        </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@String.Format("{0:d}", item.DueDate)</td>
            <td>@item.Priority</td>
            <td>@(item.Done ? "Y" : "N")</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
        </tr>
    }
</table>